<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
</head>
<body>
  <h1>
    Home 
  </h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At perferendis hic aliquam! Veritatis eveniet blanditiis iure ea a error esse magnam sit voluptate, aliquam quasi nemo tempora ab pariatur aliquid.
    Eveniet eos veritatis mollitia amet officiis aut vitae pariatur expedita fuga obcaecati. Voluptas neque iste odio doloremque deleniti illum minima incidunt autem, quis alias sequi eius dolores, adipisci consequatur aliquam!
    Nisi quia corporis consectetur aperiam officia error sed omnis ut magnam tempore, doloribus, ratione esse placeat, doloremque voluptatum distinctio voluptate. Corporis quod deleniti recusandae? Exercitationem iusto suscipit officia unde corrupti.
  </p>
</body>
</html>
